body {
    background-color: #f00e99;
};
img{
    width: 415px;
    height: 430px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: rgb(248, 247, 247);;
};
button {
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding: 25px 35px;
    margin: 25px;
    background-color: #f17ec5;
    text-transform: uppercase;
};